/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* THYPO */

body{
    font-family: 'Open Sans', sans-serif;
}

.main-title{
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 60px;
}


.plans-title{
    font-size: 35px;
}


/* COMMON */

nav > ul{
    list-style: none;
}

li > a{
    text-decoration: none;
    padding-right: 30px;
    color: black;
}

.nav-list{
    display: flex;
    align-items: center;
}

.container-big{
    max-width: 1180px;
    margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
}

.divider{
    width: 25%;
    margin: 20px;
    margin-left: 30px;
}

a{
    color: #0055f2;
}

/* BUTTONS */

.btn-primary{
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-secondary{
    color: black;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 15px;
    cursor: pointer;
}

.nav-button{
    margin-right: 20px;
}

.hero-btn{
    display: block;
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.free-trial-btn{
    padding: 10px 20px;
}

.contact-us-btn{
    padding: 10px 60px;
}

.sales-office-btn{
    position: absolute;
    top: 15%;
    right: 5%;
    padding: 10px 20px;
}

.partner-btn{
    margin-top: 15px;
}

.banner-btn{
    padding: 10px 40px;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    max-width: 100vw;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
}

.header-left{
    display: flex;
}

.header-right{
    display: flex;
}

.logo{
    padding-left: 20px;
    padding: 20px;
}

/* MAIN */

/* Hero Section */

.hero{
    display: flex;
    align-items: center;
    background-color: #b4d0e7;
}

.hero-row{
   display: flex; 
}

.hero-col-small{
    width: 30%;
}

.hero-col-big{
    position: relative;
    width: 70%;
}

.hero-arrow{
    margin-top: 85px;
    margin-bottom: 10px;
    font-size: 35px;
}

.hero-img{
    position: absolute;
    width: 100%;
}

/* /Hero Section */

/* Dropbox Plans Section */

.plans{
    margin-top: 200px;
}

.plan-choice{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 50px;
}

.plans-row{
    display: flex;
    justify-content: space-between;
}

.plans-col{
    width: calc(90% / 3);
    border: 1px solid lightgrey;
    margin-bottom: 50px;
}

.plans-row-second{
    display: flex;
}

.plans-col-big{
    width: 100%;
    border: 1px solid lightgrey;
}

.plan-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-name{
    padding: 10px;
}

.plan-body{
    position: relative;
    padding-left: 25px;
}

.article-title{
    padding-top: 30px;
    padding-bottom: 20px;
}

.article-price{
    display: block;
    font-size: 13px;
    padding-bottom: 10px;
}

.plan-max-users{
    display: flex;
    padding-top: 40px;
}

.user-icon{
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
}

.plan-cloud-memory{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.plan-functions{
    display: flex;
    padding-bottom: 50px;
}

.free-trial{
    text-align: center;
    padding-bottom: 20px;
}

.buy-now{
    padding-left: 25px;
    padding-bottom: 20px;
}

.highlights{
    padding-left: 25px;
    padding-bottom: 25px;
}

.highlights-title{
    padding-left: 5px;
}

.highlights-container{
    display: flex;
}

.highlights-text{
    padding-top: 10px;
    padding-left: 10px;
}

.check{
    color: #0061ff;
    padding-top: 15px;
    font-size: 12px;
}

.enterprise{
    font-size: 13px;
    padding-top: 40px;
    padding-bottom: 20px;
}
/* /Dropbox Plans Section */

/* Dropbox Partner Section */

.partner-row{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.partner-col-big{
    width: 60%;
}

.partner-col-small{
    width: 35%;
    position: relative;
}

.partner-img{
    width: 100%;
}

.partner-description{
    position: absolute;
    top: 15%;
}

.partner-title{
    padding-bottom: 10px;
}

/* /Dropbox Partner Section */

/* Dropbox Business Section */

.business-text{
    font-size: 35px;
    margin-top: 125px;
    margin-bottom: 60px;
}

.business-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business-col{
    width: calc(90% / 3);
    margin-bottom: 40px;
}

.business-img{
    display: block;
    width: 100%;
}

.business-desc{
    padding-top: 20px;
}

.business-end-row{
    width: 100%;
}

/* /Dropbox Business Section */

/* Dropbox Affiliates Section */

.affiliates-row{
    display: flex;
    width: 99vw;
    height: 30vw;
    margin-top: 100px;
}

.affiliates-col-small{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.affiliates-col-big{
    width: 40%;
    padding-left: 40px;
    overflow-y: auto;
    background-color: #f5f5f5;
}

.affiliates-square{
    position: relative;
    width: calc(100% / 2);
    height: 15vw;
}

.affiliates-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: grayscale(1) invert(1);
}

.affiliates-one{
    background-color: #a2d39b;
    border: 15px solid rgba(255, 255, 255, 0.5);
}

.affiliates-two{
    background-color: #61082b;
}

.affiliates-three{
    background-color: #0093ce;
}

.affiliates-four{
    background-color: #ff1c1c;
}

.affiliates-five{
    background-color: #d5001f;
}

.affiliates-six{
    background-color: #b4d0e7;
}

.affiliates-seven{
    background-color: #0d2481;
}

.affiliates-eight{
    background-color: #ffd830;
}

.affiliates-img-big{
    width: 35%;
    padding-top: 40px;
}

.affiliates-divider{
    width: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aff-desc{
    padding-bottom: 60px;
}

/* /Dropbox Affiliates Section */

/* Banner Section */

.banner-background{
    background-color: #b4d0e7;
}

.banner-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner-col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
}

.banner-title{
    font-size: 35px;
    color: #61082b;
    padding-top: 125px;
    padding-bottom: 125px;
}

/* /Banner Section */

/* FAQ Section */

.faq-section{
    padding-bottom: 125px;
}

.faq-container{
    position: relative;
    width: 100%;
}

.faq-title{
    font-size: 35px;
    padding-top: 150px;
    padding-bottom: 75px;
}

.faq-text{
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
}

.faq-answer{
    position: absolute;
    top: 45%;
    right: 5%;
}

/* /FAQ Section */

/* FOOTER */

footer{
    background-color: black;
}

.footer-row{
    display: flex;
    width: 100%;
}

.footer-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-top: 125px;
    margin-bottom: 125px;
}

.list-head{
    display: flex;
    justify-content: flex-start;
    width: 58%;
}

.footer-titles{
    text-align: left;
    color: white;
    padding-bottom: 15px;
}

.footer-list{
    list-style: none;
    text-decoration: none;
    font-size: 13px;
}

.footer-list-text{
    color: white;
}

.footer-list > li{
    padding-bottom: 10px;
}

.footer-divider{
    width: 5%;
    margin-left: 45px;
    margin-bottom: 25px;
    filter: invert(80%);
}

.footer-row-small{
    width: 8%;
    margin-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid grey;
}

.footer-col-small{
    color: grey;
}

.footer-arrow{
    font-size: 10px;
}

/* EFFECTS & ANIMATIONS */

.nav-link:hover{
    color: #61082b;
}

.btn-primary:hover{
    filter: opacity(0.9);
}

.btn-secondary:hover{
    transform: scale(1.1);
}

a:hover{
    filter: opacity(0.8);
}

/* /EFFECTS & ANIMATIONS */