/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* THYPO */

body{
    font-family: 'Open Sans', sans-serif;
}

.main-title{
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 60px;
}

.hero-p{
    font-size: 14px;
}

.plans-title{
    font-size: 35px;
}

/* COMMON */

nav > ul{
    list-style: none;
}

li > a{
    text-decoration: none;
    padding-right: 30px;
    font-size: 13px;
    color: black;
}

.nav-list{
    display: flex;
    align-items: center;
}

.container-big{
    max-width: 1180px;
    margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
}

.divider{
    width: 25%;
    margin: 20px;
    margin-left: 30px;
}

/* BUTTONS */

.btn-primary{
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 5px 10px;
}

.nav-button{
    margin-right: 20px;
}

.hero-btn{
    display: block;
    margin-top: 25px;
    margin-bottom: 20px;
}

.free-trial-btn{
    padding: 10px 20px;
}

.contact-us-btn{
    padding: 10px 60px;
}


/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
}

.header-left{
    display: flex;
}

.header-right{
    display: flex;
}

.logo{
    padding-left: 20px;
    padding: 20px;
}

/* MAIN */

/* Hero Section */

.hero{
    display: flex;
    align-items: center;
    background-color: #b4d0e7;
}

.hero-row{
   display: flex; 
}

.hero-col-small{
    width: 30%;
}

.hero-col-big{
    position: relative;
    width: 70%;
}

.hero-arrow{
    margin-top: 85px;
    margin-bottom: 10px;
    font-size: 35px;
}

.hero-img{
    position: absolute;
    width: 100%;
}

/* /Hero Section */

/* Dropbox Plans Section */

.plans{
    margin-top: 200px;
}

.plan-choice{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 50px;
}

.plans-row{
    display: flex;
    justify-content: space-between;
}

.plans-col{
    width: calc(90% / 3);
    border: 1px solid lightgrey;
    margin-bottom: 50px;
}

.plan-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-name{
    padding: 10px;
}

.plan-body{
    padding-left: 25px;
}

.article-title{
    padding-top: 30px;
    padding-bottom: 20px;
}

.article-price{
    display: block;
    font-size: 13px;
}

.plan-max-users{
    padding-top: 40px;
}

.user-icon{
    font-size: 12px;
    padding-bottom: 5px;
}

.plan-cloud-memory{
    padding-top: 5px;
    padding-bottom: 5px;
}

.plan-functions{
    padding-bottom: 50px;
}

.free-trial{
    text-align: center;
    padding-bottom: 20px;
}

.buy-now{
    padding-left: 25px;
    padding-bottom: 20px;
}

.highlights{
    padding-left: 25px;
    padding-bottom: 25px;
}

.check{
    color: #0061ff;
    padding-top: 15px;
    font-size: 12px;
}

/* /Dropbox Plans Section */

/* FOOTER */