/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* THYPO */

body{
    font-family: 'Open Sans', sans-serif;
}

.main-title{
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 60px;
}

.hero-p{
    font-size: 14px;
}

.plans-title{
    font-size: 35px;
}


/* COMMON */

nav > ul{
    list-style: none;
}

li > a{
    text-decoration: none;
    padding-right: 30px;
    font-size: 13px;
    color: black;
}

.nav-list{
    display: flex;
    align-items: center;
}

.container-big{
    max-width: 1180px;
    margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
}

.divider{
    width: 25%;
    margin: 20px;
    margin-left: 30px;
}

/* BUTTONS */

.btn-primary{
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 5px 10px;
}

.btn-secondary{
    color: black;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 15px;
}

.nav-button{
    margin-right: 20px;
}

.hero-btn{
    display: block;
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.free-trial-btn{
    padding: 10px 20px;
}

.contact-us-btn{
    padding: 10px 60px;
}

.sales-office-btn{
    position: absolute;
    top: 15%;
    right: 5%;
    padding: 10px 20px;
}

.partner-btn{
    margin-top: 15px;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    max-width: 100vw;
}

.header-left{
    display: flex;
}

.header-right{
    display: flex;
}

.logo{
    padding-left: 20px;
    padding: 20px;
}

/* MAIN */

/* Hero Section */

.hero{
    display: flex;
    align-items: center;
    background-color: #b4d0e7;
}

.hero-row{
   display: flex; 
}

.hero-col-small{
    width: 30%;
}

.hero-col-big{
    position: relative;
    width: 70%;
}

.hero-arrow{
    margin-top: 85px;
    margin-bottom: 10px;
    font-size: 35px;
}

.hero-img{
    position: absolute;
    width: 100%;
}

/* /Hero Section */

/* Dropbox Plans Section */

.plans{
    margin-top: 200px;
}

.plan-choice{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 50px;
}

.plans-row{
    display: flex;
    justify-content: space-between;
}

.plans-col{
    width: calc(90% / 3);
    border: 1px solid lightgrey;
    margin-bottom: 50px;
}

.plans-row-second{
    display: flex;
}

.plans-col-big{
    width: 100%;
    border: 1px solid lightgrey;
}

.plan-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-name{
    padding: 10px;
}

.plan-body{
    position: relative;
    padding-left: 25px;
}

.article-title{
    padding-top: 30px;
    padding-bottom: 20px;
}

.article-price{
    display: block;
    font-size: 13px;
    padding-bottom: 10px;
}

.plan-max-users{
    display: flex;
    padding-top: 40px;
}

.user-icon{
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
}

.plan-cloud-memory{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.plan-functions{
    display: flex;
    padding-bottom: 50px;
}

.free-trial{
    text-align: center;
    padding-bottom: 20px;
}

.buy-now{
    padding-left: 25px;
    padding-bottom: 20px;
}

.highlights{
    padding-left: 25px;
    padding-bottom: 25px;
}

.highlights-container{
    display: flex;
}

.highlights-text{
    padding-top: 10px;
    padding-left: 10px;
}

.check{
    color: #0061ff;
    padding-top: 15px;
    font-size: 12px;
}

.enterprise{
    font-size: 13px;
    padding-top: 40px;
    padding-bottom: 20px;
}
/* /Dropbox Plans Section */

/* Dropbox Partner Section */

.partner-row{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.partner-col-big{
    width: 60%;
}

.partner-col-small{
    width: 35%;
    position: relative;
}

.partner-img{
    width: 100%;
}

.partner-description{
    position: absolute;
    top: 15%;
}

.partner-title{
    padding-bottom: 10px;
}

/* /Dropbox Partner Section */

/* Dropbox Business Section */

.business-text{
    font-size: 35px;
    margin-top: 125px;
    margin-bottom: 50px;
}

.business-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business-col{
    width: calc(90% / 3);
    margin-bottom: 40px;
}

.business-img{
    display: block;
    width: 100%;
}

.business-desc{
    padding-top: 20px;
}

.business-end-row{
    width: 100%;
}

.business-link{
    color: #0061ff;
}

/* /Dropbox Business Section */

/* Dropbox Affiliati Section */

.affiliates-row{
    display: flex;
    width: 99vw;
    margin-top: 100px;
}

.affiliates-col-small{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.affiliates-col-big{
    width: 40%;
}

.affiliates-square{
    width: calc(100% / 2);
}

/* /Dropbox Affiliati Section */

/* FOOTER */